.signup-form {
  width: 400px;
  margin:auto;
  padding-top: 30px;
}
.signup-form input {
  width: 90%;
  height: 40px;
  padding: 0px 5%;
  margin-bottom: 10px;
  border: none;
  background-color: #fff;
  font-family: Helvetica;
  font-size: 16px;
  color: #111;
  line-height: 40px;
}

.signup-form button {
  display: block;
  margin-left: 32.5%;
  width: 30%;
  height: 40px;
  border: none;
  background-color: #f3f3f3;
  font-family: Helvetica;
  font-size: 16px;
  color: #111;
  cursor: pointer;
}

.signup-form button:hover {
  background-color: #ccc;
}
