.box--comments {
  position: relative;
  margin-left: 35%;
  margin-top: 5%;
  width: 30%;
  padding: 7% 3%;
  box-sizing: border-box;
  background: rgba(0,0,0,.5);
  border-radius: 5%;
  color: #fff;
}
